.DS_Store
matrix3d-loops
matrix3d-unroll
matrix3d-intrin
matrix3d-avx
matrix3d-a64loops
matrix3d-a64unroll
matrix3d-a64intrin
matrix3d-neon64
matrix3d-a32loops
matrix3d-a32unroll
matrix3d-a32intrin
matrix3d-neon32
a.out
*.exe
*.o
*.obj
xcuserdata/
.vs/
*.vcxproj.user
Debug/
Release/

