.DS_Store
cpuid
matrix3d-loops
matrix3d-unroll
matrix3d-intrin
matrix3d-avx
a64cpuid
matrix3d-a64loops
matrix3d-a64unroll
matrix3d-a64intrin
matrix3d-a64neon
matrix3d-a64sme
a32cpuid
matrix3d-a32loops
matrix3d-a32unroll
matrix3d-a32intrin
matrix3d-a32neon
a.out
*.exe
*.o
*.obj
xcuserdata/
.vs/
*.vcxproj.user
Debug/
Release/

